.partidos {
    display:flex;
    justify-content: space-evenly;
    padding: 30px;
    width: 100%;
    height: 250px;
    border-top: 1px solid green;
    border-bottom: 1px solid #e40b0b;
}

.ultimoPartido {
    position: relative;
    color: rgb(255, 255, 255);
    text-align: center;
}

h3 {
    margin-bottom: 25px;
}
.logos {
    position: relative;
    display: inline-flex;
}

.goles {
    color: rgb(255, 255, 255);
    text-align: center;
}

.local {
    width: 45%;
}

.visitante {
    width: 45%;
}

.versus {
    position: relative;
    color: antiquewhite;
    margin: 5px auto;
    padding: 10px;
}
.fecha {
    margin-top: 5px;
}
